@import '../styles/textGradient';
@import '../styles/_variables';
@import '../styles/backGroundGradient.scss';
/* HealNet’s Story: Get to know us */


// background: linear-gradient(98.64deg, #0179B4 6.59%, #88D8FF 47.82%);

.about-us-section {
    margin: 0 100px;
        text-align: center;
        
        .card-border{
            display: flex;
            justify-content: center;
            padding: 2px;
            @include bg-linear-gradient($primary-color-200, $primary-color-500, 101.92deg, 28px)
        }
        .about-us-card {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: #ffffff;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 28px;
            padding: 58px 64px 64px 64px;
            
            h2 {
                width: 100%;
                margin-bottom: 44px;
                font-size: 32px;
                font-weight: 700;
                .text-gradient{
                    @include textgradient()
                }
            }
            
            
            .card-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
                img {
                    width: 43%;
                    border-radius: 10px;
                    margin-right: 1rem;
                    object-fit: contain;
                }
                .content-body{
                    width: 51.44%;
                }
                @media screen and (max-width: 1050px) {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 16px;
                    img{
                        width: calc(80%);
                    }
                    .content-body{
                        width: 100%;
                    }
                }
                
                p {
                    font-size: 16px;
                    font-weight: 600;
                    color: #6D6D6D;
                    margin: 0;
                }
                .about-us-btn{
                    width: 309px;
                    padding: 18px 36px;
                    margin-top: 28px;
                    background-color: #00A4F4;
                    box-shadow: -8px 8px 28px rgba(0, 0, 0, 0.06);
                    border-radius: 12px;
                    color: #fff;
                    
                    border: none;
                    cursor: pointer;
                    transition: background 0.3s, transform 0.3s;
                    font-size: 24px;
                    font-weight: 700;
                    &:hover {
                        background: linear-gradient(101.91deg, lighten($secondary-color, 10%), lighten(#00A4F4, 10%));
                        transform: scale(1.05);
                    }
                }
            }
        }
    
}