.staff-section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 0 294px;
        
        
        text-align: center;

        h2 {
            margin: 0;
            font-size: 40px;
            font-weight: bold;
        }

        .staff-cards {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            // flex-wrap: wrap;
            justify-content: center;

            
        }
    @media screen and (max-width: 1300px) {
        margin: 0 142px;
    }
    @media screen and (max-width: 1025px) {
        margin: 0 100px;
    }
    @media screen and (max-width: 650px) {
        margin: 0 2rem;
    }
}