$primary-color: #A7E2FF;
$primary-blues-50: #EFF9FF;
$light-primary-color:#F8FDFF;
$primary-color-200:#C5ECFF;
$primary-color-500:#95DDFF;
$secondary-color: #0095DE;
$neutrals-300:#B0B0B0;
$font-family: 'Arial, sans-serif';
