
@mixin textgradient{
    background: linear-gradient(100.68deg, #0179B4 20.59%, #88D8FF 86.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-gradient{
    @include textgradient();
}