@import '../styles/variables';
@import '../styles/backGroundGradient.scss';

.contact-us {
    margin: 128px 100px;
    padding: 0 156px;
    
        
    .contact-header{
        margin-bottom: 3rem;
        h2 {
            margin-bottom: 2rem;

            font-size: 40px;
            font-weight: 700;
        }
        p{
            margin: 0 208px;
            font-size: 16px;
            font-weight: 600;
            color: $neutrals-300;
        }
    }
    form{
        justify-content: space-between;
        column-gap:20px
    }
    .form-group-border{
        @include bg-linear-gradient(#A0E0FF,#32BDFF);
        padding: 2px;
        height: 64px;
        width: 100%;
        .form-group {
            display: flex;
            height: 100%;
            column-gap: 12px;
            background-color: #fff;
            border-radius: 12px;
            padding: 18px;
            img{
                object-fit: contain;
            }
            .form-control {
                width: 100%;
                height: 100%;
                padding: 0;
                border: transparent;
            }
            ::placeholder {
                color: $neutrals-300;
                opacity: 1;
                /* Firefox */
            }
        }
    }

    .submit-btn {
        width: 100%;
        height: 64px;
        max-width: 205px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
        background-color: #00A4F4;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        padding: 20px 24px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        &:hover {
            background: linear-gradient(101.91deg, lighten($secondary-color, 10%), lighten(#00A4F4, 10%));
            transform: scale(1.05);
        }
    }

    @media screen and (max-width: 1250px) {
        .contact-header{
            p{
                margin: 0 10%;
            }
        }
        form{
            flex-direction: column;
            row-gap: 1rem;
            button{
                align-self: end;
            }
        }
    }
    @media screen and (max-width: 1050px) {
        padding: 50px;
        .contact-header{
            p{
                margin: 0 0;
            }
        }
    }
    @media screen and (max-width: 650px) {
        margin: 128px 2rem;
        padding: 0;
    }
    
}