.testimonials {
    display: flex;
    margin: 0 100px;
    padding: 0 42px;
        h2 {
            margin-bottom: 2rem;
            font-size: 40px;
            font-weight: 700;
        }

        .testimonial-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

           .row-1{
                gap: 7%;
                
                row-gap: 15px;
                justify-content: center;
               
           }

           .estadisticas{
                width: 100%;
                justify-content: space-evenly;
                flex-wrap: wrap;
           }
        }
    @media screen and (max-width:1050px)  {
        .testimonial-cards .row-1{
            flex-wrap: wrap;
        }
    }
    @media screen and (max-width:650px)  {
        margin: 0 2rem;
        padding: 0;
    }
}