@import '../styles/variables.scss';

.testimonials {
    display: flex;
    margin: 8rem 100px;
    padding: 0 42px;
        .testimonials-header{
            margin-bottom: 52px;
            h2 {
                margin-bottom: 2rem;
                font-size: 40px;
                font-weight: 700;
            }
            p{
                font-size: 16px;
                font-weight: 600;
                color: $neutrals-300;
            }
        }

        .testimonial-cards {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

           .row-1{
                gap: 7%;
                
                row-gap: 15px;
                justify-content: center;
               
           }

           .estadisticas{
                width: 100%;
                justify-content: space-evenly;
                flex-wrap: wrap;
           }
            .esfera-1 {
                position: absolute;
                top: -60px;
                left: -42px;
                width: 142px;
                overflow: hidden;
                z-index: -1;
            }

            .esfera-2 {
                position: absolute;
                bottom: -48px;
                right: -50px;
                width: 142px;
                overflow: hidden;
                z-index: -1;
            }
        }
    @media screen and (max-width:1050px)  {
        .testimonial-cards{
            .row-1{
                flex-wrap: wrap;
            }
        } 
    }
    @media screen and (max-width:650px)  {
        margin: 8rem 2rem;
        padding: 0;
        .testimonial-cards {
            .esfera-1 {
                    top: -32px;
                    left: -48px;
            }
            .esfera-2 {
                    bottom: -48px;
                    right: -32px;
                    overflow: hidden;
            }
        }

    }
}
