@import '../styles/variables';
@import '../styles/backGroundGradient.scss';



.appointment-form {
    @include bg-linear-gradient(#C5ECFF,#95DDFF,101.91deg,28px);
    padding: 2px;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    box-sizing: border-box;

    .container {
        display: flex;
        flex-direction: column;
        
        padding: 2rem;
        @include bg-radial-gradient(#FFFFFF 32.81%,$light-primary-color 97.64%, 114.87% 113.36% at 40.95% -10.45%,28px);
        box-sizing: border-box;
        h2 {
            text-align: start;
            margin-bottom: 40px;
            font-size: 32px;

            .text-bold {
                    font-weight: 700;
                    color: #0084D4;
            }
        }

        .form-group {
            margin-bottom: 1rem;

            label {
                display: block;
                text-align: start;
                margin-bottom: 0.5rem;
            }
            ::placeholder{
                color: #E7E7E7;
            }
            .form-control {
                width: 100%;
                padding: 18px;
                border-radius: 12px;
                border: 1px solid #E7E7E7;
                
            }
            select:invalid {
                color: #E7E7E7;
            }
            select:valid {
                color: black;
            }
        }

        .submit-btn {
            background: linear-gradient(101.91deg, $primary-color, $secondary-color);
            box-shadow: -8px 8px 28px rgba(0, 0, 0, 0.06);
            border-radius: 12px;
            color: #fff;
            padding: 0.5rem 1rem;
            border: none;
            cursor: pointer;
            transition: background 0.3s, transform 0.3s;

            &:hover {
                background: linear-gradient(101.91deg, lighten($primary-color, 10%), lighten($secondary-color, 10%));
                transform: scale(1.05);
            }
        }
    }
}
